<%= form_for(@coach) do |f| %>
  <% if @coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>
      <ul>
      <% @coach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-lg-6">
    <div class="well bs-component">
      <fieldset >
        <%= simple_form_for @coach do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :phone %>
        <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </fieldset>
    </div>
  </div>
</div>
<% end %>


