<p id="notice"><%= notice %></p>

<h1>Listing Coaches</h1>
<p id="notice"><%= notice %></p>

  <h3>Coaches</h3>
  <%= form_tag coaches_path, :method => "get" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag "search", params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <% end %>


<table class="table table-striped table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th><%= sortable "Name" %></th>
      <th><%= sortable "Email" %></th>
      <th><%= sortable "Phone" %></th>
      <th><%= sortable "coach" %></th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>


  <tbody>
    <% @coaches.each do |coach| %>
      <tr>
        <td><%= coach.name %></td>
        <td><%= coach.email %></td>
        <td><%= coach.phone %></td>
        <td><%= link_to 'Show', coach %></td>
        <td><%= link_to 'Edit', edit_coach_path(coach) %></td>
        <td><%= link_to 'Destroy', coach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coach', new_coach_path %>
